<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no»"/>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <title>IpInfo13</title>
</head>
<body>

<div class="full-page-img">
    <div class="button-send">
        <p><strong>Введите IP адрес, который хотите узнать!</strong></p>
        <div class="button-content">
        <form action="" method="post"><input type="text" class="button-content" placeholder="Введите IP"></form>
        </div>
        <div class="second-page">
            <p><strong>История запроса IP-адресов</strong></p>
            <div class="history-box"></div>
        </div>
    </div>
</div>
</body>
</html>